@tailwind base;
@tailwind components;
@tailwind utilities;

  @font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Montserrat-Bold';
    src: url('../assets/fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Montserrat-Light';
    src: url('../assets/fonts/Montserrat-Light.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Montserrat-Medium';
    src: url('../assets/fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }


html, body, #thissec {
  font-family: 'Montserrat', sans-serif;
  width: 95rem;
  height: 100%;
  
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Flexbox layout */
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col {
  flex: 1;
  padding: 0 15px;
  min-width: 100%; 
}

/* screens larger thn 600px */
@media (min-width: 600px) {
  .col {
    min-width: 50%;
  }
}

/* screens larger than 900px */
@media (min-width: 900px) {
  .col {
    min-width: 33.33%; 
  }
}

/* nooverflow */
img, video, iframe {
  max-width: 100%;
  height: auto;
}



  /* Dashboard animation */
  
  @keyframes slideInExpand {
    0% {
      transform: translateX(-100%) scale(0.8);
      opacity: 0;
    }
    100% {
      transform: translateX(0) scale(1);
      opacity: 1;
    }
  }
  

  @keyframes slideOutShrink {
    0% {
      transform: translateX(0) scale(1);
      opacity: 1;
    }
    100% {
      transform: translateX(-100%) scale(0.8);
      opacity: 0;
    }
  }
  
  .navbar-open {
    animation: slideInExpand 0.2s forwards;
  }
  
  .navbar-close {
    animation: slideOutShrink 0.2s forwards;
  }

  /* Loading cloud section */

  .loader {
    width: 180px;
    height: 140px;
    display: block;
    margin: 0 auto 20px;
    background-image: radial-gradient(circle 25px at 25px 25px, #3631ff 100%, transparent 0), 
                      radial-gradient(circle 50px at 50px 50px, #3631ff 100%, transparent 0), 
                      radial-gradient(circle 25px at 25px 25px, #3631ff 100%, transparent 0), 
                      radial-gradient(circle 15px at 15px 15px, #3631ff 100%, transparent 0), linear-gradient(#3631ff 50px, transparent 0);
    background-size: 50px 50px, 100px 75px, 50px 50px, 30px 32px, 136px 20px;
    background-repeat: no-repeat;
    background-position: 0px 30px, 30px 0px, 113px 29px, 147px 50px, 23px 60px;
    position: relative;
    box-sizing: border-box;
  }
  .loader::after {
    content: '';  
    position: absolute;
    left: 2px;
    top: 65px;
    width: 2px;
    height: 6px;
    color: #3631ff;
    box-sizing: border-box;
    animation: animloader 0.6s linear infinite;
  }
  
  @keyframes animloader {
    0% {
      box-shadow: 25px 0 #3631ff, 50px 0 #3631ff, 75px 0 #3631ff, 100px 0 #3631ff, 125px 0 #3631ff, 150px 0 #3631ff, 25px 0 #3631ff, 50px 0 #3631ff, 75px 0 #3631ff, 100px 0 #3631ff, 125px 0 #3631ff, 150px 0 #3631ff;
    }
    50% {
      box-shadow: 25px 20px #3631ff, 50px 60px rgba(255, 255, 255, 0), 75px 30px rgba(255, 255, 255, 0), 100px 70px rgba(255, 255, 255, 0), 125px 40px #3631ff, 150px 60px rgba(255, 255, 255, 0), 25px 20px white, 50px 30px #3631ff, 75px 10px #3631ff, 100px 30px #3631ff, 125px 30px rgba(255, 255, 255, 0), 150px 30px rgba(255, 255, 255, 0);
    }
    100% {
      box-shadow: 25px 60px rgba(255, 255, 255, 0), 50px 60px rgba(255, 255, 255, 0), 75px 50px rgba(255, 255, 255, 0), 100px 70px rgba(255, 255, 255, 0), 125px 70px rgba(255, 255, 255, 0), 150px 60px rgba(255, 255, 255, 0), 25px 80px rgba(255, 255, 255, 0), 50px 80px rgba(255, 255, 255, 0), 75px 70px rgba(255, 255, 255, 0), 100px 60px rgba(255, 255, 255, 0), 125px 30px rgba(255, 255, 255, 0), 150px 30px rgba(255, 255, 255, 0);
    }
  }

/* DarkmodeToggle CSS */

  #toggle_checkbox {
    display: none;
  }
  
  label {
    display: block;
    position: relative;
    width: 116px;
    height: 56px;
    background-color: #77b5fe;
    border-radius: 56px;
    cursor: pointer;
    transition: 0.3s ease background-color;
  }
  
  #star {
    position: absolute;
    top: 13px;
    left: 13px;
    width: 30px;
    height: 30px;
    background-color: #fafd0f;
    transform: scale(1);
    border-radius: 50%;
    transition: 0.3s ease top, 0.3s ease left, 0.3s ease transform, 0.3s ease background-color;
    z-index: 1;
  }
  
  #star-1 {
    position: relative;
  }
  
  #star-2 {
    position: absolute;
    transform: rotateZ(36deg);
  }
  
  .star {
    top: 0;
    left: -7px;
    font-size: 54px;
    line-height: 28px;
    color: #fafd0f;
    transition: 0.3s ease color;
  }
  
  #moon {
    position: absolute;
    bottom: -52px;
    right: 8px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.3s ease bottom;
  }
  
  #moon:before {
    content: "";
    position: absolute;
    top: -12px;
    left: -17px;
    width: 40px;
    height: 40px;
    background-color:#03a9f4;
    border-radius: 50%;
    transition: 0.3s ease background-color;
  }
  
  #toggle_checkbox:checked + label {
    background-color: #000;
  }
  
  #toggle_checkbox:checked + label #star {
    top: 3px;
    left: 64px;
    transform: scale(0.3);
    background-color: yellow;
  }
  
  #toggle_checkbox:checked + label .star {
    color: yellow;
  }
  
  #toggle_checkbox:checked + label #moon {
    bottom: 8px;
  }
  
  #toggle_checkbox:checked + label #moon:before {
    background-color: #000;
  }

